* {
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  margin: 0px;
  border: 5px white solid;
  width: 1300px;
}

.menu {
  display: flex;
  background-color: pink;
  justify-content: space-around;
  padding: 20px;
}

.menu a {
  color: #13293d;
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  color: #006494;
  border-bottom: 3px solid #13293d;
}

#apresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 450px;
  background-color: rgb(16, 16, 100);
}

#apresentacao h1 {
  width: 50%;
  color: white;
  text-align: center;
  font-family: cursive;
  font-weight: 800;
}

.fotoPerfil {
  width: 25%;
  border-radius: 50%;
  margin-top: 15%;
  margin-bottom: 15%;
  border: 5px solid whitesmoke;
}

#quemsoueu {
  display: flex;
  height: 400px;
  padding: 40px;
  background-color: pink;
}

.descritivo {
  padding: 10px;
  padding-top: 5%;
  line-height: 30px;
  text-align: center;
}

#experiencias {
  padding: 10px;
  background-color: rgb(16, 16, 100);
}

.vivencia-profissional {
  width: 1250px;
}

#experiencias h2 {
  color: white;
}

#habilidades {
  padding: 10px;
  background-color: pink;
}

.habilidades-org {
  display: flex;
  margin-bottom: 5%;
}

.img-fundo {
  background-color: white;
  width: 150px;
  height: 190px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
  justify-content: center;
  box-shadow: 10px 5px 5px black;
}

.tamanho-imagem {
  width: 80px;
}

#softSkills h3 {
  width: 300px;
}

#softSkills {
  /* width: 50%; */
  text-align: center;
}

#hardSkills {
  text-align: center;
}

#frameworks {
  text-align: center;
}

.divInterna {
  /* border: 1px solid black; */
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#redesSociais {
  color: white;
  text-align: center;
  padding: 10px;
  background-color: rgb(16, 16, 100);
}

footer {
  padding: 10px;
  text-align: center;
  background-color: pink;
}

.imgRedesSociais {
  background-image: none;
  width: 50px;
  padding: 25px;
}