body {
  /*background-image: url(/Imagens/fundo2.jpeg);*/
  background-color: #e8f1f2;
  background-size: 1350px 2000px;
  background-repeat: no-repeat, repeat;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

h1 {
  color:#13293d;
  font-size: 2.5em;
  text-decoration: underline;
  text-align: center;
}

h2 {
  color: #006494;
  font-size: 2em;
  
}

h3 {
  color: #475550;
  font-size: 1.5em;
}

p, li {
  color: #475550;
}

.img1 {
  width: 5%;
  margin-left: 10px;
}
.menu {
  color:#13293d;
  font-size: 1.6em;
  padding: 10px 10px;
  border-color: black;
  text-decoration: none;
  /*top, right, bottom, left*/
}
.button {
  color: white;
  background-color: blue;
  border-radius: 20%;
  padding-left: 15px;
}
